name: Cache Workflow

on:
  workflow_dispatch:

jobs:
  cache-job:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: cache-31b0375
        id: cache
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: cache-31b0375

      - name: prime-cache-31b0375
        run: echo "Cache hit was ${{ steps.cache.outputs.cache-hit }}"
